{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block header %}
{% endblock %}

{% block pre_content %}
{% endblock %}

{% block content_wrap %}
    <h1>Home page</h1>
    <div class="_container">
        <div class="_row">
            <div class="_col_1">
                col 1
            </div>
            <div class="_col_2">
            </div>
            <div class="_col_3">
                col 3
            </div>
            <div class="_col_6">
                <div class="_row">
                    <div class="_col_6">
                        sub 6
                    </div>
                    <div class="_col_3">
                        sub 3
                    </div>
                    <div class="_col_2">
                        sub 2
                    </div>
                    <div class="_col_1">
                        sub 1
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block overflow_wrap %}
{% endblock %}
